MYSQL_ROOT_PASSWORD: drupal
MYSQL_DATABASE: drupal
MYSQL_USER: drupal
MYSQL_PASSWORD: drupal

DRUPAL_VERSION: latest
# DRUPAL_VERSION: ^9.0

DRUPAL_SITE_MAIL: <name>@<domain>.com
DRUPAL_SITE_NAME: <Your site name>
DRUPAL_ACCOUNT_MAIL: <name>@<domain>.com
DRUPAL_ACCOUNT_NAME: drupal
DRUPAL_ACCOUNT_PASS: drupal
DRUPAL_INSTALL_PROFILE: 'standard'
